<%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> Movies'.html_safe, movies_path, class: "btn btn-default btn-sm" %>

<h3 style="color:brown">Movie Details <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_movie_path(@movie.id) , class: "btn btn-primary btn-sm" %></h3>

<ul class="list-group">
    <li class="list-group-item list-group-item active"> <%= @movie.title %> </li>
  	<li class="list-group-item"><b>Description:</b> <%= @movie.description %> </li>
   	<li class="list-group-item"><b>Director:</b> <%= @movie.director %> </li>
    <li class="list-group-item"><b>Country:</b> <%= @movie.country %> </li>
	<li class="list-group-item"><b>Year:</b> <%= @movie.date %> </li>  
</ul>
